<p id="notice"><%= notice %></p>

<div>
		<h2>Listing Make/Model</h2>
	</div>
<div id="make_models">
		<table border="1" style="width: 100%; white-space: nowrap; table-layout: fixed;">
		<tr>
			<th>Manufacturer</th>
			<th>Country Code</th>
			<th>Make</th>
			<th>Make Code</th>
			<th>Model</th>
			<th>Model Code</th>
			</tr>
		<tr><%= render @make_model %></tr>
	</table>

</div>

