<%= form_tag 'job_search' do %>
	          <p>
		          <%= text_field_tag  "vin_imports[vrm]" %> 
              <%= submit_tag "Search", :class => "btn btn-primary", :name => nil %>
	          </p> 
<% end %>
