
  


<div style="padding: 10px;">

	
	<table class="table table-bordered message-box">
		<tr class="box-color">
			<th>&nbsp;</th>
			<th><h2>Message</h2></th>
		</tr>
		<tr>
			<td style="text-align: center;">
			 <%= image_tag("warning.png", :alt => "Warning") %>
			</td>
			<td>
				Vehicles waiting to be approved
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
	     <%= image_tag("message.png", :alt => "Warning") %>
			</td>
			<td>
				Report X has finished generating
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
		   <%= image_tag("alert.png", :alt => "Warning") %>
			</td>
			<td>
				User locked out
			</td>
		</tr>
	</table>
	 
 </div>


