// Place all the styles related to the global_company_settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fieldBlock-set {
    display: block;
    width: 325px;
    float: left;
    padding: 10px;
  }

.input{ width: 100px; } 


