// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Customize navbar
.navbar {
  .navbar-inner {
    background: #377CA8; 
  }

  div > ul a, .nav a {
   font-size: 18px;
   font-weight: bold;
   color: white;
   
  }
}

.nav > li > a { 
        
   box-shadow: 0 0 2px #FFFFFF;
  -o-box-shadow: 0 0 2px #FFFFFF;
  -webkit-box-shadow:0 0 2px #FFFFFF;
  -moz-box-shadow: 0 0 2px #FFFFFF;
  background: #3299CC;
   
}

.btn-warning a { text-decoration: none; }

.message-box{ width: 525px; }
