<div class="service_plan">
  <tr>
    <td><%= service_plan.smr_code %></td>
    <td><%= link_to 'Show', service_plan_path(service_plan) %></td>
    <td><%= link_to 'Edit', edit_service_plan_path(service_plan) %></td>
    <td><%= link_to 'Delete', service_plan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<div>