<div>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="settings_list">Saved Files</a>
		</li>
		<li>
			<a href="settings">Global Settings</a>
		</li>
		<li>
			<a href="#tab3" data-toggle="tab">Manufacturer</a>
		</li>
		<li>
			<a href="#tab4" data-toggle="tab">Servicing</a>
		</li>
		<li>
			<a href="#tab5" data-toggle="tab">Wear Parts</a>
		</li>
		<li>
			<a href="#tab6" data-toggle="tab">Tyre Life</a>
		</li>
		<li>
			<a href="#tab7" data-toggle="tab">Tyres Cost</a>
		</li>
		<li>
			<a href="#tab8" data-toggle="tab">Warranty</a>
		</li>
		<li>
			<a href="#tab9" data-toggle="tab">Ad-Hoc</a>
		</li>
		<li>
			<a href="#tab10" data-toggle="tab">Inflation</a>
		</li>
		<li>
			<a href="#tab11" data-toggle="tab">Menu Price</a>
		</li>
		<li>
			<a href="#tab12" data-toggle="tab">Package Price</a>
		</li>
	</ul>
	<div class="tab-content">
	
	<div class="tab-pane" id="tab2">
	  <p>Global Settings</p>
	</div>
		<div class="tab-pane" id="tab3">
	  <p>Manufacturer</p>
	</div>
		<div class="tab-pane" id="tab4">
	  <p>Servicing</p>
	</div>
		<div class="tab-pane" id="tab5">
	  <p>Wear Parts</p>
	</div>
		<div class="tab-pane" id="tab6">
	  <p>Tyre Life</p>
	</div>
		<div class="tab-pane" id="tab7">
	  <p>Tyres Cost</p>
	</div>
		<div class="tab-pane" id="tab8">
	  <p>Warranty</p>
	</div>
		<div class="tab-pane" id="tab9">
	  <p>Ad-Hoc</p>
	</div>
		<div class="tab-pane" id="tab10">
	  <p>Inflation</p>
	</div>
		<div class="tab-pane" id="tab11">
	  <p>Menu Price</p>
	</div>
		<div class="tab-pane" id="tab12">
	  <p>Package Price</p>
	</div>
  </div>
</div>
</div>


